.navbar {
    position: fixed;
    top: 0;
    background-color: $salmon;
    box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.2);
    width: 100%;
    height: 3.5rem;
    z-index: 1;

    &__container {
        max-width: 800px;
        margin: 0 auto;
        height: 100%;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
        align-items: center;
        height: 100%;

        & a {
            text-decoration: none;
            color: white;
        }
    }

    &__site-name {
        font-weight: 600;
    }

    &__link {
      display: flex;
      gap: 1rem;
    }
}
